<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Alberta</a>
          <p class="navbar-text">The more attractive and helpful sister of Albert.</p>
        </div>
      </div>
    </nav>

<div class="container">
  <div class="starter-template">
    <form ng-submit="getData()">
      <div class="form-group">
        <label>Class Numbers</label>
        <textarea class="form-control" rows="3" placeholder="CSCI-UA 101..." ng-model="classes"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      <button type="button" ng-click="getData()" class="btn btn-default">JSON</button>
    </form>
  </div>
  <!-- <div class="row" ng-hide="true">
    <div class="col-md-6">
        <div ui-calendar="uiConfig.sized" ng-model="eventSources" calendar="sized"></div>
    </div>
    <div class="col-md-6">
      <div ui-calendar="uiConfig.sized" ng-model="eventSources" calendar="sized1"></div>
    </div>
    <div class="col-md-6">
      <div ui-calendar="uiConfig.sized" ng-model="eventSources" calendar="sized2"></div>
    </div>
    <div class="col-md-6">
      <div ui-calendar="uiConfig.sized" ng-model="eventSources" calendar="sized3"></div>
    </div>
  </div> -->
  <i ng-show="loading" class="fadedcal-icon fa fa-refresh fa-spin fa-5x"></i>
  <div ng-style="formOp" class="row">
    <div style="float:left;">
      <h2>{{currentWeek + 1}}/{{numOfWeeks}}</h2>
    </div>


    <div style="float:right; margin: 10px;">
      <button ng-click="backward()" ng-disabled="!canBackward()" class="btn btn-primary" value="Backwards"><i class="fa fa-arrow-left"></i></button>
      <button ng-click="forward()" ng-disabled="!canForward()" class="btn btn-primary" value="Forward"><i class="fa fa-arrow-right"></i></button>
    </div>



    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="weekly">
    </div>
  </div>

</div><!-- /.container -->
